node_modules
test_out/
out/
.DS_Store
coverage/**/*
npm-debug.log*
dist
.idea/
lib
unit.xml
.project
.npmrc
/.metadata/
target
coverage
newrelic_agent.log
tests/out
tests/api/.npmrc
tests/api/lib
tests/api/node_modules
dist8
ts-node*
junitresults.xml
build/
.gradle/
dist8
.npmrc
